/* MODAL */

.cart-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.close-modal-button-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cart-item-list {
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 16px;
}

.cart-item-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.modal-total-price {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-checkout-button-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cart-item-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.volume-input-container {
  display: flex;
  gap: 16px;
}

.cart-item-title {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.volume-input-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.volume-input-title {
  font-size: 0.9rem;
}
