/* MODAL */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&display=swap");

.cart-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.close-modal-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 32px;
  background-color: white;
  border-radius: none;
}

.close-modal-button {
  background-color: white;
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.close-modal-button:hover {
  background-color: rgb(223, 223, 223);
}

.modal-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-item-list {
  flex: 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 8px;
}

.cart-item-container {
  display: flex;
  gap: 10px;
  align-items: center;
  /* border: 1px solid lightgray; */
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.cart-item-container:hover {
  background-color: rgb(240, 239, 239);
}

.modal-total-price {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-checkout-button-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-checkout-button {
  flex: 1;
  height: 100%;
  border: 1px solid rgb(197, 197, 197);
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.modal-checkout-button:hover {
  background-color: rgb(240, 239, 239);
}

.modal-checkout-button:active {
  background-color: rgb(221, 221, 221);
}

.cart-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
  height: 100%;
  width: 100%;
}

.cart-item-left {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid lightgray; */
}

.volume-input-container {
  display: flex;
  gap: 16px;
}

.cart-item-title {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.cart-item-total-price {
  text-align: right;
  font-weight: bold;
  font-size: 0.9rem;
}

.volume-input-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.volume-input-title {
  font-size: 0.9rem;
}

.cart-item-image {
  width: 100px;
  height: 100px;

  /* box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.336); */
}

.modal-backdrop-layout {
  background-color: rgba(0, 0, 0, 0.623);
}

.modal-total-price {
  font-weight: bold;
}
