@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links-container {
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;
}

.cart-popup-container {
  position: relative;
  background-color: red;
  width: 18px;
  height: 16px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  left: 7px;
  top: 6px;
  z-index: 1;
}

.cart-popup-container-spike {
  position: relative;
  background-color: red;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  left: 19px;
  top: -6px;
  z-index: 0;
}

.shop-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: normal;
}

.home-content-container {
  background-image: url("./images/home-background.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-link {
  color: red;
}

.shop-container {
  height: 100%;
}

.shop-content-container {
  display: flex;
  height: 100%;
}

.shop-sidebar-container {
  flex: 1;
}

.product-grid-container {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}

.product-grid-item-container {
  height: 200px;
}

.product-grid-item-image {
  width: 200px;
  height: 200px;
}

.shop-sidebar-container {
  display: flex;
  flex-direction: column;
}

.current-filter-title-container {
  flex: 1;
}

.filter-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 5;
}

.product-info-layout {
  display: flex;
}

.product-info-title-container {
  flex: 3;
}

.product-info-image {
  flex: 3;
}

.product-description-container {
  flex: 2;
}
