@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0px 32px;
}

.header-links-container {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.cart-popup-container {
  position: relative;
  background-color: red;
  width: 18px;
  height: 16px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  left: 14px;
  top: 4px;
  z-index: 1;
}

.cart-popup-container-spike {
  position: relative;
  background-color: red;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  left: 26px;
  top: -8px;
  z-index: 0;
}

.shop-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.shop-link-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  color: white;
  cursor: pointer;
}

.header-home-link {
  text-decoration: none;
}

.header-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: normal;
  color: white;
}

.header-icon-button {
  transform: scale(1.3);
  position: relative;
  top: -2px;
}

.home-content-container {
  background-image: url("./images/home-background.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-splash-container {
  display: flex;
  height: 100%;
}

.home-splash-left {
  flex: 2;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-splash-right {
  flex: 3;
}

.home-buy-now-button {
  width: 200px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  height: 50px;
  border: 1px solid grey;
  background-color: white;
}

.home-buy-now-button:hover {
  background-color: rgb(240, 240, 240);
}

.home-buy-now-button:active {
  background-color: rgb(213, 213, 213);
}

.home-button-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.home-splash-left > h1 {
  font-weight: 600;
  font-size: 3.4rem;
}

.home-splash-left > h3 {
  font-weight: normal;
  font-size: 2.2rem;
}

.content-link {
  color: black;
  text-decoration: none;
}

.content-link:hover {
  text-decoration: underline;
}

.shop-container {
  height: 100%;
}

.shop-content-container {
  display: flex;
  height: 100%;
}

.shop-sidebar-container {
  flex: 1;
}

.product-grid-container {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
  grid-template-rows: repeat(auto-fit, 300px);
  gap: 32px;
  padding: 32px;
  margin-right: 128px;
}

.product-grid-item-container {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  height: 300px;
}

.product-grid-item-container:hover {
  text-decoration: underline;
}

.product-grid-item-image {
  width: 200px;
  height: 200px;
}

.product-grid-item-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  padding: 8px;
}

.product-grid-item-title {
  font-size: 1.1rem;
  margin: 0;
}

.product-grid-item-price {
  margin: 0;
  font-size: 0.9rem;
}

.shop-sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.current-filter-title-container {
  flex: 1;
}

.filter-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 10;
  padding-top: 32px;
}

.filter-button {
  color: black;
  /* text-transform: uppercase; */
  font-size: 1rem;
  letter-spacing: 0.05rem;
  width: 100%;
  height: 48px;
  background-color: white;
  border: none;
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: rgb(240, 240, 240);
}
.filter-button:active {
  background-color: rgb(216, 216, 216);
}

.product-info-container {
  height: 93%;
}

.product-info-layout {
  display: flex;
  height: 100%;
}

.product-info-title-container {
  display: none;
}

.product-info-image-container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info-image {
  width: 75%;
  height: 100%;
  display: none;
}

.product-description-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  box-shadow: -20px 0px 35px rgba(0, 0, 0, 0.212);
}

.product-description-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.product-description-paragraph {
  text-align: center;
}

.product-description-price {
  font-weight: bold;
}

.product-description-button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.add-to-bag-button {
  width: 100%;
  height: 56px;
  border: none;
  background-color: rgb(199, 196, 177);
  color: black;
  font-weight: normal;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.add-to-bag-button:hover {
  background-color: rgb(177, 174, 155);
}

.add-to-bag-button:active {
  background-color: rgb(153, 150, 128);
}

.buy-it-now-button {
  width: 100%;
  height: 56px;
  border: none;
  background-color: rgb(139, 114, 69);
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.buy-it-now-button:hover {
  background-color: rgb(119, 100, 48);
}

.buy-it-now-button:active {
  background-color: rgb(99, 83, 39);
}

.current-filter-title-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.current-filter-title-container > p {
  font-weight: bold;
  margin: 0;
}

.current-filter-title-container > h1 {
  margin: 0;
  padding-left: 10px;
}
